@*@using Microsoft.AspNetCore.Hosting.Internal*@
@model MusicStore.ViewModels.ShoppingCartViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Shopping Cart";
}


@section Scripts {
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
                if (recordToDelete != '') {

                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: {
                            "id": recordToDelete
                        },
                        dataType: "json"
                    }).done(function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.itemCount == 0) {
                            $('#row-' + data.deleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.deleteId).text(data.itemCount);
                        }

                        $('#cart-total').text(data.cartTotal);
                        $('#update-message').text(data.message);
                        $('#cart-status').text(data.cartCount);
                    });
                }
            });

        });
    </script>
}

    <div style="margin-bottom: 30px; margin-top: 60px">

        <div style="margin-bottom: 30px;display:flex; justify-content:space-between;">
            <h1 style="font-family: cursive;">REVIEW YOUR CART:</h1>
            @{ var imageLink4 = $"~/Images/music-cart.png"; }
            <img alt="Music" src="@Url.Content(imageLink4)" style="vertical-align: middle; width:8%; margin-left: auto;">
        </div>
    </div>

        @*<h1 style="font-family: cursive;display:inline-block;">REVIEW YOUR CART:</h1><img src="@Url.Content("~/images/cart-with-music.png")" style="vertical-align: middle;  ; width:6%;display:inline-block;">*@

    @*    <h1 style="font-family: cursive">
            REVIEW YOUR CART:
        </h1>

       <div id="cart">
            <img src="@Url.Content("~/images/cart-with-music.png")" style="vertical-align: middle;width:30%">

    @*        <p class="button">
                <a asp-controller="ShoppingCart" asp-action="RemoveCart">Delete Cart?</a>
            </p>
        </div>
    *@

    <div id="update-message">
        <table id="cart-summary" style="font-size:large" class="table table-bordered table-responsive table-hover table-striped">
        <tr>
            <th style="font-size:large; text-align:center;">
                    Collection
                </th>
            <th style="font-size:large; text-align:center;">
                    Price
                </th>
            <th style="font-size:large; text-align:center;">
                    Quantity
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.">
                <td title="@item.Artist">
                    <a asp-controller="Store" asp-action="Details" asp-route-id="@item.ProductId">@item.Title</a>
                    </td>
                    <td style="display:margin:0 auto;width:fit-content;;width:15%">
                        <span style="display:block;margin:0 auto;width:fit-content;">$@string.Format("{0:0.00}", item.Price)</span>
                    </td>
                    <td id="item-count-@item.ProductId" style="text-align:center;width:15%">
                        <span style="display:block;margin:0 auto;width:fit-content;">@item.QuanityOrdered</span>
                    </td>
                    <td style="text-align:center; width:20%;vertical-align: middle;">
                        @{var imageLink3 = $"~/Images/remove-item.jfif";}
                        <img alt="Checkout" src="@Url.Content(imageLink3)" title="Remove Product" width="30" />
                        <a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.ProductId">&nbsp;Remove Product...</a>
                    </td>
                </tr>
            }
            @*<tr style="font-size:larger">*@
            <tr>
                <td>
                    Total
                </td>
                <td id="cart-total">
                    <span style="font-weight:bolder;display:block;margin:0 auto;width:fit-content;">$@string.Format("{0:0.00}", @Model.CartTotal)</span>
                </td>
                <td>
                    <span style="font-weight:bolder;display:block;margin:0 auto;width:fit-content;">@Model.ItemCount</span>
                </td>
                <td style="text-align:center; width:20%; white-space:nowrap;">
                &nbsp;
                </td>
            </tr>
        </table>
    </div>



<div style="display:flex; justify-content:space-between;" class="d-flex">
    <a asp-controller="ShoppingCart" asp-action="RemoveCart">@{
            var imageLink = $"~/Images/delete-cart.png";
        }<img alt="Checkout" src="@Url.Content(imageLink)" title="Remove Cart" width="75" />
    </a>
    <a asp-controller="Checkout" asp-action="AddressAndPayment">@{
            var imageLink2 = $"~/Images/buy.png";
        }<img alt="Checkout" src="@Url.Content(imageLink2)" title="Checkout" width="100"  />
    </a>
</div>





        
        
    

