@using MusicStore.Helper

@model StoreModelDto

@{
    ViewBag.Title = "Browse Collections";
}
<div class="genre" style="text-align:center">
    
    <div style="margin-bottom: 30px; margin-top: 60px">
        <h1 style="font-family: cursive">
            @Model.Name.ToUpper() &nbsp;&nbsp MUSIC COLLECTION
        </h1>
    </div>

    
        @if (Model.Result != null)
        {
            @foreach (var item in Model.Result)
            {
                <ul id="album-list" class="list-unstyled">
                    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container" style="margin-bottom: 40px;margin-right:30px;">
                        <a asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">
                            @{
                                var imageLink = $"~/Images/{MediumImageSelector.SetMediumGraphic(item.MediumName, item.AlbumArtUrl)}";
                            }
                            <img alt="@item.Title" src="@Url.Content(imageLink)" title="@item.ArtistName" />
                            <h3 class="control-label">@item.Title</h3>
                        </a>
                    </li>
                </ul>
            }
        }
        else 
        {
            @*<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container" style="margin-bottom: 40px;margin-right:30px;">*@
            <div style="align-content:center">
            <h1 class="control-label"><i>Not Currently Available</i></h1>
            </div>
        }
    
</div>