@using MusicStore.Plumbing

@model ProductDto

@{
    ViewBag.Title = "Song - " + Model.Title;
}

<div class="genre" style="margin-bottom: 80px">

    <div style="margin-bottom: 30px; margin-top: 80px">
        <h1 style="font-family: cursive">
            @Model.Title.ToUpper()
        </h1>
    </div>

<p style="align-content:center">
    @{
        var imageLink = $"~/Images/{MediumImageSelector.SetMediumGraphic(Model.MediumName, Model.AlbumArtUrl)}";
    }
    <img alt="@Model.Title" src="@Url.Content(imageLink)" />
</p>


<div id="album-details" style="font-size:larger">

    <p>
        <em>Artist:</em>
        @Model.ArtistName
    </p>

    <p>
        <em>Genre:</em>
        @Model.GenreName
    </p>
   
    <p>
        <em>Price:</em>
        <label>@($"${Model.Price:F2}")</label>
        @*<label>@Model.Price</label>*@
    </p>

    <p>
        <em>Released:</em>
        @Model.ReleaseYear
    </p>

    <p>
        <em>UPC Code:</em>
        @Model.Upc
    </p>

    @if (Model.ParentalCaution)
    {
            <p style="margin-bottom: 30px; margin-top: 40px">
            @{
                var imageAdvisory = $"~/Images/advisory2.png";
                <img alt="@Model.Title" src="@Url.Content(imageAdvisory)" />
             }
        </p>
    }


        <p class="button" style="font-size:large; margin-top: 30px">
        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.ProductId">Add to cart</a>
    </p>
</div>