@model List<GenreDto>
@{
    ViewBag.Title = "Store";
}

<div style="margin-bottom: 30px; margin-top: 60px">
    <h1 style="font-family: cursive">
        BROWSE BY GENRE...
    </h1>
</div>

<p style="font-family: cursive; font-size:x-large">
    Select from @Model.Count() genres...
</p>
<ul class="list-group" style="width: 50%; margin-top: 30px">
    @foreach (var genre in Model)
    {
        var Domain = "Genre";
        var Id = genre.GenreId;
        var Name = genre.Name;

        <li class="list-group-item">
            <a asp-controller="Store" asp-action="Browse" asp-route-Id="@Id" asp-route-Domain="@Domain" asp-route-Name="@Name">@Name</a>
        </li>

        @*<li class="list-group-item">
            <a asp-controller="Store" asp-action="Browse" asp-route-id="@genre.GenreId">@genre.Name</a></li>*@
    }
</ul>