@using MusicStore.Properties
@model List<AlbumDTO>
@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@AppSettings.Value.SiteTitle</h1>
    @*<img src="~/Images/home-showcase.png" />*@
    <img src="~/Images/retro.png" />
</div>

@if (Model != null)
{ 
    <ul class="row list-unstyled" id="album-list">
        @foreach (var album in Model)
        {
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a asp-controller="Store" asp-action="Details" asp-route-id="@album.Id">
                    @if (!string.IsNullOrEmpty(album.AlbumArtUrl))
                    {
                        <img alt="@album.Title" src="@Url.Content(@album.AlbumArtUrl)" />
                    }
                    else
                    {
                        <img alt="@album.Title" src="~/images/placeholder.png" class="img-responsive" />
                    }
                    <h4>@album.Title</h4>
                </a>
            </li>
        }
    </ul>
}