@model OrderIndexDto


<h2>Order Details</h2>

<div class="container-fluid">
    <div class="row">
        <label class="col-md-2 control-label text-right" asp-for="OrderDate"></label>
        @Model.OrderDate.ToShortDateString()
    </div>
    <div class="row">
        <label class="col-md-2 control-label text-right" asp-for="OrderId"></label>
        @Model.OrderId
    </div>
    <div class="row">
        <label class="col-md-2 control-label text-right" asp-for="Username"></label>
        @Model.Username
    </div>
    <div class="row">
        <label class="col-md-2 control-label text-right" asp-for="Total"></label>
        @Model.Total
    </div>


    <table class="table">
        <tr>
            <th></th>
            <th>
                <label asp-for="OrderDetails.First().Title"></label>
            </th>
            <th>
                <label asp-for="OrderDetails.First().Artist"></label>
            </th>
            <th>
                <label asp-for="OrderDetails.First().Quantity"></label>
            </th>
            <th>
                <label asp-for="OrderDetails.First().UnitPrice"></label>
            </th>

        </tr>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    <img src="@item.AlbumArtUrl" />
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Artist
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.UnitPrice
                </td>
            </tr>
        }
    </table>






</div>
