@model List<GenreDto>

<li class="dropdown">
    <a asp-area="" asp-controller="Store" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" style="font-size:1.5em">Store <b class="caret"></b></a>
    <ul class="dropdown-menu">
        @if (Model != null)
        {
            @foreach (var genre in Model)
            {
                var Domain = "Genre";
                var Id = genre.GuidId;
                var Name = genre.Name;
                
                <li>
                    @*<a asp-area="" asp-controller="Store" asp-action="Browse" asp-route-id="@genre.GenreId">@genre.Name</a>*@
                    @*<a asp-area="" asp-controller="Store" asp-action="Browse" asp-route-genreId="@genre.GenreId" asp-route-genreName="@genre.Name">@genre.Name</a>*@
@*                    <a asp-area="" asp-controller="Store" asp-action="Browse" asp-route-Id="@Id" asp-route-Domain="@Domain" asp-route-Name="@Name">@Name</a>*@
                    <a asp-area="" asp-controller="Store" asp-action="Browse" asp-route-Id="@Id" asp-route-Domain="@Domain" asp-route-Name="@Name">@Name</a>
                </li>
            }

            <li class="divider"></li>
            <li>
                <a asp-area="" asp-controller="Store" asp-action="Index" asp-route-Domain="Genres">All Genres...</a>
            </li>
        }
    </ul>
</li>
