@using MusicStore.Properties
@model List<AlbumDTO>
@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" class=”divlogocolor”>*@
<div class=”divlogocolor”>
    <h1>@AppSettings.Value.SiteTitle</h1>
    <img src="~retro.png" />
</div>

@if (Model != null)
{
    <ul class="row list-unstyled" id="album-list">
        @foreach (var album in Model)
        {
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a asp-controller="Store" asp-action="Details" asp-route-id="@album.Id">
                    <img src="~placeholder.png" class="img-responsive" />
                    <h4>@album.Title</h4>

                    @*
                        // Outrageous Bug
                        // Will not render image when wrapped in If conditional
                        // @if (!string.IsNullOrEmpty(album.AlbumArtUrl))
                        //{
                        //    <img alt="@album.Title" src="@Url.Content(@album.AlbumArtUrl)" />
                        //}
                        //else
                        //{
                        //    @*<img src="~placeholder.jpg" width"100" height="100" />
                        //    @*<img alt="@album.Title" src="@Url.Content("placeholder.jpg")" />
                        //    @*<img alt="@album.Title" src="~placeholder.png" class="img-responsive" />
                        //}
                    *@
                    
                </a>
            </li>
        }
    </ul>
}







