@using MusicStore.Properties
@using MusicStore.Plumbing
@model List<ProductDto>
@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" class=”divlogocolor”>*@
@*https://stackoverflow.com/questions/3029422/how-to-auto-resize-an-image-while-maintaining-aspect-ratio*@



<div class=”divlogocolor”>
    <div style="display: flex; ">
        @*<h1 style="font-family: cursive; font-size:xx-large">@AppSettings.Value.SiteTitle</h1*@
        @* <h1 style="font-family: cursive;font-size: 5rem">@AppSettings.Value.SiteTitle</h1> *@
    </div>
    @*<h1>@AppSettings.Value.SiteTitle</h1>*@
        @* <img style='height: 100%; width: 100%; object-fit: cover; margin-top: 0px' src="@Url.Content("~/Images/retro.png")" /> *@
    @* Turntable image: https://creazilla.com/nodes/3173108-turntable-clipart *@
    <img style='height: 100%; width: 100%; object-fit: cover; margin-top: 0px' src="@Url.Content("~/Images/new-home-candidate2.gif")" />

    <hr />

    @*<div style="display: flex; font-size:larger">
        <h1 style="margin-left: auto;"><i>Music for the Astute Collector...</i></h1>
    </div>*@
</div>



@if (Model != null)
{

    <div style="margin-bottom: 10px; margin-top: 0px; text-align:center;">
        <div style="border-top: 5px solid lightgrey;"></div>
        <h1 style="font-family: cursive">
            <em>Top Selling Collector Items</em>
        </h1>
    </div>

    <div style="display: flex; justify-content: center;margin-top: 20px;">
        <ul class="row list-unstyled" id="album-list">
            @foreach (var item in Model)
            {
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container" style="margin-bottom: 40px;margin-right:40px;">
                    <a asp-controller="Store" asp-action="Details" asp-route-productId="@item.ProductId">
                    @{
                        var imageLink = $"~/Images/{MediumImageSelector.SetMediumGraphic(item.Medium, item.AlbumArtUrl)}";
                    }
                    <img alt="@item.Title" src="@Url.Content(imageLink)" title="@item.Artist" />
                    <h3>@item.Title</h3>
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div style="background-color: lightgrey;border: 15px solid red;padding: 50px;margin: 20px;">
        <p><strong>There is no music loaded in the store. Please run the Data Init process</strong></p>
    </div>
}








